.navbar.bg-body-tertiary {
  background-color: transparent !important; 
  border: none; 
}

.navbar-collapse a {
  color: #ffffffd7;
}

.navbar-collapse a:hover {
  color: rgb(32, 74, 241);
}

.navbar-collapse {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h3:hover {
  color: rgb(47, 114, 237);
}

a.nav-link.dropdown-toggle.show {
  color: rgb(23, 98, 238);
}

.dropdown-menu a {
color: black;
}